<div class='col card-col'>
  <div class='card border-dark mx-auto hvr-grow-shadow text-center'>
    <%= image_tag("#{app.img_url}", alt: app.name, class: 'card-img-top img-fluid') %>
    <div class='card-body text-dark'>
      <h5 class='card-title'><%= app.name || 'nope'%></h5>
      <p class='card-text'><%= app.short_description || 'nope' %></p>
      <%= link_to 'More', app_path(app), class: 'btn btn-outline-secondary mt-auto' %>
    </div>
    <div class="card-footer text-muted">
      <%= app.client.name %><br>
      <%= app.client.time_period %>
    </div>
  </div>
</div>