<%= form_with(model: @client) do |form| %>
  <div class='container'>
    <%= render 'partials/form_errors', object: @client %>

    <div class='row mb-3'>
      <div class='col'>
        <%= form.label :name, class: 'form-label' %>
        <%= form.text_field :name, class: 'form-control' %>
      </div>
      <div class='col'>
        <%= form.label :time_period, class: 'form-label' %>
        <%= form.text_field :time_period, class: 'form-control' %>
      </div>
    </div>

    <div class='row mb-3'>
      <div class='col'>
        <%= form.submit class: 'btn btn-primary' %>
      </div>
    </div>
  </div>
<% end %>