<div class='container-fluid'>
  <div class='portrait intro'>
    <div class='row'>
      <div class='col text-center'>
        <%= image_tag("boys_porch.jpg", alt: "Hi there.", size: '200x200', class: 'img-circle img-fluid') %>
      </div>
    </div>
    
    <div class='row'>
      <div class='col text-center'>
        <h1 id='intro-title'>Jim here.</h1>
      </div>
    </div>
    <div class='row'>
      <div class='col text-center'>
        <p id='hero-story'>
          I've been a <b>Ruby on Rails</b> dev for <%= dev_time %>, and I was a writer and editor for <%= writer_time %>.
          My family moved to Hamburg from the US <%= hamburg_time %> ago. Here's what I've been up to.
        </p>
      </div>
    </div>
  </div>

  <div class='page'>
    <div class='app-block'>
      <div class='container'>
        <div class='row'>
          <% @apps.each do |app| %>
            <%= render 'partials/card', app: app %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>