<div class='container-fluid'>
  <div class='portrait intro'>
    <div class='row'>
      <div class='col text-end'>
        <h1 id='intro-title'>Call me Jim.</h1>
        <p id='hero-story'>
          I've been a <b>Ruby on Rails</b> dev for <%= dev_time %>, and I was a writer and editor for <%= writer_time %> before that.
          My family moved to Hamburg from the US <%= hamburg_time %> ago to enjoy a better quality of life. Here's what I've been up to.
        </p>
      </div>
      <div class='col text-start'>
        <%= image_tag("boys_porch.jpg", alt: "Hi there.", size: '500x500', class: 'img-fluid') %>
      </div>
    </div>
    

  <div class='page'>
    <div class='app-block'>
      <div class='container'>
        <div class='row'>
          <div class='col text-center'>
            <h3 id='programmer' class='intro-subtitle'>As a Programmer</h3>
          </div>
        </div>
        <div class='row'>
          <% @apps.each do |app| %>
            <%= render 'partials/app_card', app: app %>
          <% end %>
        </div>
        <div class='row'>
          <div class='col text-center'>
            <h3 id='grammar' class="intro-subtitle">As a Grammar Pro</h3>
          </div>
        </div>
        <div class='row'>
          <% @gigs.each do |gig| %>
            <%= render 'partials/gig_card', gig: gig %>
          <% end %>
        </div>
        
        <div class='row'>
          <div class='col text-center'>
            <h3 id='about' class='intro-subtitle'>A Little More About Me</h3>
          </div>
        </div>
        <div class='row'>
          <div class='col text-center'>
            <p>If I had to make a list, I'd say there are three things I've taken from my education and previous career: a genuine love of fine details, the ability to abstract those details to see the greater picture, and the ability to take my ego out of any kind of rewriting process.</p>
            <p>I took quite a long path to having eight years of experience as a Ruby on Rails dev. I graduated college with a degree in poetry--I though I'd be a college professor by now. But, honestly, the world probably doesn't need another 400-page scholarly tome about Dylan Thomas.</p>
            <p>Having worked both in offices and remotely, I'm comfortable in both envrionments but prefer remote or hybrid. Most of my work has been deadline driven, which fits right in with agile methodologies, so I'm comfortable there, too. I have superior communication skills--I'm used to being the only expert of my realm in a discussion, so I have no reservations about holding a meeting with anyone about anything. I'm certainly a great team player and I like to think I'm fun to have around.</p>
            <p>My German skills aren't great under most circumstances. I've studied English extensively, Latin, Spanish and French for multiple years each. German follows none of those rules, so it's taken me a little time to get an ear for it. I'd say that at the grocery store, I'm close to fluent; if the topic is time travel or wormholes, I'm advanced intermediate (I've been watching that Netflix series Dark over and over); despite developing a love for Stromberg, I'm sad to say I'm still around A1 in an office environment.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
