<div id="<%= dom_id app %>">
  <div class='row'>
    <div class='col text-center'>
      <strong>Name: </strong><%= app.name %>
    </div>
    <div class='col text-center'>
      <strong>Img Url: </strong><%= app.img_url %>
    </div>
  </div>

  <div class='row'>
    <div class='col text-center'>
      <strong>Description: </strong><%= app.description %>
    </div>
    <div class='col text-center'>
      <strong>Short Description: </strong><%= app.short_description %>
    </div>
  </div>

  <div class='row'>
    <div class='col text-center'>
      <strong>Time Period: </strong><%= app.time_period %>
    </div>
    <div class='col text-center'>
      <strong>Additional Notes: </strong><%= app.additional_notes %>
    </div>
  </div>

  <div class='row'>
    <div class='col text-center'>
      <strong>Biggest Challenges: </strong><%= app.biggest_challenge %>
    </div>
  </div>
</div>