<nav class="navbar navbar-expand-sm navbar-light bg-light">
  <div class="container-fluid">
    <%= link_to "James Publicover", root_path, class: 'navbar-brand navbar-spacing' %>
    <button class="navbar-toggler" 
            type="button" 
            data-bs-toggle="collapse" 
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" 
            aria-expanded="false" 
            aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav navbar-nav-right mb-2 mb-lg-0 ms-auto">
        <li class="nav-item">
          <%= link_to 'PROGRAMMER', root_path(anchor: 'programmer'), class: 'nav-link' %>
        </li>
        <li class="nav-item">
          <%= link_to 'GRAMMAR PRO', root_path(anchor: 'grammar'), class: 'nav-link' %>
        </li>
        <li class='nav-item'>
          <%= link_to 'ABOUT', root_path(anchor: 'about'), class: 'nav-link' %>
        </li>
        <li class="nav-item">
          <%= admin_dashboard_link %>
        </li>
        <li class="nav-item">
          <%= logout_link %>
        </li>
      </ul>
    </div>
  </div>
</nav>